html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #0C091D;
}

#logo{
  width: 50vh;
  margin: 0;
} 

#btn{
  text-align: center;
  margin-bottom: : 5px;
  border: 2px solid white;
  padding: 2vh;
  font-weight: bolder;
  font-size: 25px;
  cursor: pointer;
}

#btn:hover { 
    background-color: white;
    color:black;
}

#wrapper {
  display: inline-block;
  padding: .3em;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  user-select: none;
  transform: translate(-50%,-50%);
  color: rgba(255,255,255,.68);
}

